<footer class="footer">

  <div class="footer_icon">
    <a href="#hero"><img src="./assets/images/ico-arrow.svg" alt="arrowup" id="footer_icon"/></a>
  </div>

  <nav class="footer_links">
    <ul class="footer_links_clothe">
      <li><a href="https://adalab.es/"></a>zapatillas</li>
      <li><a href="https://adalab.es/"></a>ropa</li>
      <li><a href="https://adalab.es/"></a>niño/a</li>
      <li><a href="https://adalab.es/"></a>destacados</li>
      <li><a href="https://adalab.es/"></a>tips</li>
    </ul>
    <ul class="footer_links_networks">
      <li><a href="https://adalab.es/"></a>twitter</li>
      <li><a href="https://adalab.es/"></a>instagram</li>
      <li><a href="https://adalab.es/"></a>youtube</li>
    </ul>
  </nav>
  <p class="footer_copy">&copy2023</p>
  <p class="footer_love">we <span class="footer_love_heart">&hearts;</span> run</p>
</footer>
