<footer class="footer" id="footer">

  <div class="footer_icon">
    <a class="footer_icon_link" href="#hero"><img class="footer_icon_link_image" src="./assets/images/ico-arrow.svg" alt="arrowup" id="footer_icon"/></a>
  </div>
<section class="footer_section">
  <nav class="footer_links">
    <ul class="footer_links_clothe">
      <li><a class="footer_links_clothe_a" href="https://adalab.es/">zapatillas</a></li>
      <li><a class="footer_links_clothe_a" href="https://adalab.es/">ropa</a></li>
      <li><a class="footer_links_clothe_a" href="https://adalab.es/">niño/a</a></li>
      <li><a class="footer_links_clothe_a" href="https://adalab.es/">destacados</a></li>
      <li><a class="footer_links_clothe_a" href="https://adalab.es/">tips</a></li>
    </ul>
  </nav>
  <nav class="footer_links1">
    <ul class="footer_links1_networks">
      <li><a class="footer_links1_networks_a" href="https://adalab.es/">twitter</a></li>
      <li><a class="footer_links1_networks_a" href="https://adalab.es/">instagram</a></li>
      <li><a class="footer_links1_networks_a" href="https://adalab.es/">youtube</a></li>
    </ul>
  </nav>
 </section> 
 <div class="footer_div">
    <p class="footer_copy">&copy2023</p>
    <p class="footer_love">we <span class="footer_love_heart">&hearts;</span> run</p>
  </div>
    
</div>
  
</footer>