<section class="hero" id="hero">
  <div class="hero_image">
    <div class="hero_image_message">
      <h1 class="hero_image_message_title">comienzos compartidos</h1>
      <p class="hero_image_message_text">
      Todo lo que necesitan para volver al cole con ilusión.
      </p>
    </div>
    
    <div class="hero_image_button">
      <a href="#footer">
        <img src="./assets/images/ico-scroll-down.svg"
        alt="icono flecha hacia abajo"/>
      </a>
    </div>
  </div>
</section>
