<section class="section">
    <p class="section_parraf">¡Prepáralos con tus marcas favoritas!</p>
    <h2 class="section_title">vuelta al cole</h2>
    
      <div class="section_product">
        <nav>
        <a class="section_product_backpack_link" href="https://adalab.es/"><img
        class="section_product_backpack"
        src="./assets/images/lpbts-mod05-img01-desk.png" alt="niña con mochila puma"/>Mochilas escolares</a>
      </div>
      <div class="section_product">
        <a class="section_product_case_link" href="https://adalab.es/"><img
        class="section_product_case"
        src="./assets/images/lpbts-mod05-img04-mob.png" alt="niño con material escolar"/> Estuches</a>
      </div>
      <div class="section_product">
        <a class="section_product_sportbag_link " href="https://adalab.es/">
        <img class="section_product_sportbag"
        src="./assets/images/lpbts-mod05-img03-mob.png" alt="niña con mochila nike"/>Bolsas de deporte</a>
        </nav>
      </div>
</section>
<section class="startnow">
  <nav class="startnow_nav">
  <a class="startnow_nav_a" href="https://adalab.es/">Empezar ahora</a>
</nav>
</section>

