<section>
    <h2>¡prepáralos con tus marcas favoritas!</h2>
    <h3>vuelta al cole</h3>
    <img src="./assets/images/lpbts-mod05-img01-desk.png" alt="niña con mochila puma">
    <a href="https://adalab.es/">mochilas escolares</a>
    <img src="./assets/images/lpbts-mod05-img04-mob.png" alt="niño con material escolar">
    <a href="https://adalab.es/">estuches</a>  
    <img src="./assets/images/lpbts-mod05-img03-mob.png" alt="niña con mochila nike">
    <a href="https://adalab.es/">bolsas de deporte</a> 
    <a href="https://adalab.es/">empezar ahora</a>
  </section>