.section{
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    height: 610px;
    display: grid;
    grid-template-columns: 1fr 130px 1fr;
    grid-template-rows: 40px 40px 180px 180px 180px;
    background-color: $light-grey;
    &_parraf{
        grid-column: span 3;
        margin-top: 18px;
        font-size: 12px;
        font-family: $font-title;
        font-weight: 700;
        color: $greyish-brown;
    }
    &_title{
        grid-column: span 3;
        grid-row: 2/3;
        text-transform: uppercase;
        font-size: 20px;
        font-family: $font-title;
        font-weight: bold;
        padding-bottom: 20px;
    }
    &_product{
        grid-column: 2/3 ;
        text-align: center;
        &_backpack{
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
            grid-row: 1/2;
            width: 114px;
            height: 124px;
            border-radius: 50%;
            &_link{
                text-decoration: none;
                font-size: 14px;
                font-family: $font-title;
                color: $black;
                font-weight: 700;
            }
        }    
        &_case{
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
            grid-row: 2/3;
            align-items: center;
            width: 114px;
            height: 124px;
            border-radius: 50%;
            &_link{
                text-decoration: none;
                font-size: 14px;
                font-family: $font-title;
                color: $black;
                font-weight: 700;
                }
            }    
        &_sportbag{
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
            grid-row: 3/4;
            align-items: center;
            width: 114px;
            height: 124px;
            border-radius: 50%;
            &_link{
                text-decoration: none;
                font-size: 14px;
                font-family: $font-title;
                color: $black;
                font-weight: 700;
                gap: 10px;
            }
        } 
    } 
}          
.startnow{
    background-color:$light-grey;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px;
    text-align: center;
            
    &_nav{
        grid-column: span 3;
        &_a{
        text-decoration: none;    
        font-size: 20px;
        font-family: $font-text;
        font-weight: 500;
        color: $white;
        padding: 10px 30px;
        background-color: $moss-green;
        border-radius: 40px;
        
            }  
        }
}    
    
